<!-- Clinical feedback form -->
<div class="modal fade" id="modal-clinical-feedback" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-solid" role="document">
        <div class="modal-content">
            <form method="POST" action="{{ path('clinical_analysis_company_message') }}">
                <div class="modal-header">
                    <h5 class="modal-title">Связаться с компанией</h5>
                    <span class="close" data-dismiss="modal" aria-label="Close">
                        <img alt="" src="/lib/images/icons/close-grey.svg" />
                    </span>
                </div>
                <div class="modal-body text-left text-lg-center">
                    <div class="modal-filler"></div>
                    <div>
                        <label class="font-weight-bold required" for="feedback-text">Сообщение</label><br />
                        <input type="hidden" name="id" value="{{ entity.id }}"/>
                        <textarea class="text-left" required="required" name="question" id="feedback-text" placeholder="Введите Ваш запрос фармацевтической компании"></textarea>
                    </div>
                    <div class="modal-filler"></div>
                </div>
                <div class="modal-footer">
                    <button class="text-center w-100" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Clinical feedback sent -->
<div class="modal fade" id="modal-clinical-feedback-sent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-solid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <img alt="" src="/lib/images/icons/close-grey.svg" />
                </span>
            </div>
            <div class="modal-body text-left text-lg-center">
                <p>Ваш запрос отправлен</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="text-center" data-dismiss="modal" type="button">Продолжить</button>
            </div>
        </div>
    </div>
</div>