<!-- Event register success -->
<div class="modal fade" id="modal-event-register-success" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-solid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Регистрация на посещение</h5>
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <img alt="" src="/lib/images/icons/close-grey.svg" />
                </span>
            </div>
            <div class="modal-body text-left text-lg-center">
                <p>Вы успешно зарегистрировались на посещение конференции «<span class="event-name">с неизвестным названием</span>».</p>
            </div>
            <div class="modal-footer">
                <button class="w-100 text-center" data-dismiss="modal" type="button">Продолжить</button>
            </div>
        </div>
    </div>
</div>