<!-- Test success -->
<div class="modal fade" id="modal-test-success" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-solid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Тест успешно пройден!</h5>
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <img alt="" src="/lib/images/icons/close-grey.svg" />
                </span>
            </div>
            <div class="modal-body text-left text-lg-center">
                <p>Тест модуля <span class="module-id">X</span> завершен. Вы правильно ответили на <span class="correct-answers">0</span> вопросов из 10. Поздравляем!</p>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="{{ moduleUrl }}" class="btn text-center">Вернуться к модулю</a>
            </div>
        </div>
    </div>
</div>