{% extends 'backend/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block top %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-12">
            <h2>Создать специальность</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('cms') }}">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('cms_additional_specialties') }}">Дополнительные специальности</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Создать специальность</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-12">
                <div class="ibox">
                    <div class="ibox-content">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
