/**
 * Carousel
 **/

.carousel {
    position: relative;
}

.carousel.pointer-event {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
    transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
    transform: translateX(-100%);
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: 0s 0.6s opacity;
}

.carousel-indicators.carousel-indicators-absolute {
    position: absolute;
    right: 1rem;
    left: auto;
    bottom: 1rem;
}

.carousel-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 0.25rem;
    background-color: $color-violet;
    opacity: 0.2;
    cursor: pointer;
}

.carousel-indicators.carousel-indicators-white span {
    background-color: $color-white;
}

.carousel-indicators span.active {
    opacity: 1;
}

.carousel-navigation-aside .carousel-control-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.8rem;
    height: 120px;
}

.carousel-navigation-aside .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8rem;
    height: 120px;
}

.carousel-navigation-aside .carousel-control-prev span,
.carousel-navigation-aside .carousel-control-next span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 120px;
    opacity: 0.75;
    background-color: $color-violet;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $color-white;
    transition: opacity 0.15s ease-in-out;
}

.carousel-navigation-aside .carousel-control-prev:hover span,
.carousel-navigation-aside .carousel-control-next:hover span {
    opacity: 1;
}

.carousel-navigation-right .carousel-control-prev {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    margin-top: -37px;
}

.carousel-navigation-right .carousel-control-next {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    margin-top: 37px;
}

.carousel-navigation-right .carousel-control-prev span,
.carousel-navigation-right .carousel-control-next span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    opacity: 0.75;
    background-color: $color-violet;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: $color-white;
    transition: opacity 0.15s ease-in-out;
}

.carousel-navigation-right .carousel-control-prev:hover span,
.carousel-navigation-right .carousel-control-next:hover span {
    opacity: 1;
}