/**
 * Custom scrollbar
 */

.mCS-sirano.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #754e7f;
    border-radius: 0;
}
.mCS-sirano.mCSB_scrollTools .mCSB_draggerRail{
    background-color: #dedcd3;
    border-radius: 0;
} 

.mCS-sirano.mCSB_scrollTools .mCSB_dragger {
    right: 1px;
}