select.form-control {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC');
    background-position: right 7px center;
    background-repeat: no-repeat;
}

.chosen-container-single .chosen-single {
    border-radius: 1px;
    padding: 6px 12px;
    line-height: 1.5;
    font-size: 0.9rem;
}