{% extends 'frontend/base.html.twig' %}

{% block body %}
    <nav class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('index') }}">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    Памяти Ирины Ивановны Чукаевой
                </li>
            </ol>
        </div>
    </nav>

    <div class="page-deck">
        <div class="page-deck__bg">
            <img alt="" src="/lib/images/deck/chukaeva.png" />
        </div>
        <div class="page-deck__text">
            <div class="container">
                <h3>Памяти<br />Ирины Ивановны Чукаевой</h3>
                <div class="subtitle">(23.02.1950 - 05.01.2018)</div>
            </div>
        </div>
    </div>

    <section class="page-chukaeva mt-4 mb-4 mt-md-5 mb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4 mb-3 mb-lg-5 order-1 page-chukaeva__img">
                    <div class="d-flex justify-content-center align-items-center">
                        <img alt="" src="/lib/images/static/chukaeva-1.png" />
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8 mb-3 mb-lg-5 order-2 page-chukaeva__text">
                    <div class="d-block h-100">
                        <h6>Заслуженный врач Российской федерации, доктор медицинских наук, профессор, заведующей кафедрой поликлинической терапии лечебного факультета ФГБОУ ВО РНИМУ им. Н.И. Пирогова МЗ РФ, руководитель Университетской клиники общей врачебной практики на базе ГКБ №13 ДЗМ</h6>

                        <p>Кажется, совсем недавно, составляя программу этой конференции, мы восхищались тем, как прекрасно выглядит Ирина Ивановна, какими идеями она украшает любое событие, какие ценные замечания она делает. И кто бы мог тогда подумать, что 5 января 2018 года она уйдет из жизни. В течение 14 лет – заведующая кафедрой поликлинической терапии лечебного факультета ФГБОУ ВО РНИМУ им. Н.И. Пирогова МЗ РФ. За этими цифрами не только упорный каждодневный труд, но и бесконечная любовь к пациентам.</p>

                        <p>Ирина Ивановна успешно совмещала в течение всей жизни врачебную, научную и просветительскую деятельность. Благодаря ее творческому подходу к обучению как специалистов, так и населения страны в целом, ей удавалось выстроить доверительные отношения с аудиторией и добиться высоких результатов.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-7 col-lg-8 mb-3 mb-lg-5 order-2 order-md-1 page-chukaeva__text">
                    <div class="d-block h-100">
                        <p>Ирина Ивановна стала автором двух учебников по поликлинической терапии для студентов медицинских вузов, которые теперь являются настольными книгами поликлинических врачей и врачей общей практики. Она же составила справочник врача первичного звена здравоохранения «Поликлиническая терапия в таблицах и схемах». Ирина Ивановна проводила научно-практические конференции для врачей в различных регионах России. Она стояла у истоков создания проекта «Сирано», стремясь донести самые новые научные рекомендации до врачей, работающих во всех уголках страны. Образование было для нее по-настоящему делом жизни, миссией, в которую она верила и которой придерживалась на протяжении многих лет.</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 mb-3 mb-lg-5 order-1 order-md-2 page-chukaeva__img">
                    <div class="d-flex justify-content-center align-items-center">
                        <img alt="" src="/lib/images/static/chukaeva-2.png" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-5 col-lg-4 mb-3 mb-lg-5 order-1 page-chukaeva__img">
                    <div class="d-flex justify-content-center align-items-center">
                        <img alt="" src="/lib/images/static/chukaeva-3.png" />
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8 mb-3 mb-lg-5 order-2 page-chukaeva__text">
                    <div class="d-block h-100">
                        <p>Поэтому, помимо активной работы с врачами и студентами, Ирина Ивановна также вела медицинские программы на Центральном телевидении, стараясь привить населению здоровый образ жизни и создать положительный образ врача. В программе «Студия «Здоровье»» на канале «Россия», ведущей которой она являлась, выступило более 300 известных врачей страны.</p>

                        <p>Ирина Ивановна стала автором более 400 печатных работ, в том числе 10 авторских свидетельств, методических пособий для студентов и врачей, соавтором национальных рекомендаций и руководств по диагностике и лечению артериальной гипертонии. Под ее руководством защищено 9 кандидатских и 2 докторских диссертации. Она являлась главным редактором журнала «Современная поликлиника», членом редколлегии журнала «Лечебное дело», членом редакционного совета журнала «Терапия».</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-7 col-lg-8 mb-3 mb-lg-5 order-2 order-md-1 page-chukaeva__text">
                    <div class="d-block h-100">
                        <p>По ее инициативе был создан Центр профессиональной поддержки врачей первичного звена здравоохранения, в котором проводятся образовательные встречи и круглые столы. Образовательные проекты проводились ею и в рамках работы Российского медицинского общества по артериальной гипертонии, членом Президиума которого она являлась, а также в рамках Московского кардиологического общества.</p>

                        <p>Ирина Ивановна была членом рабочей группы комиссии по поддержке семьи, детей и материнства Общественной палаты Российской Федерации, членом Общественного совета при Департаменте здравоохранения г. Москвы. Коллеги Ирины Ивановны с теплотой вспоминают ее доброту, дружелюбие и готовность помочь. Это большая утрата для семьи, рабочего коллектива, здравоохранения страны в целом и для нас с Вами.</p>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 mb-3 mb-lg-5 order-1 order-md-2 page-chukaeva__img">
                    <div class="d-flex justify-content-center align-items-center">
                        <img alt="" src="/lib/images/static/chukaeva-4.png" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center">
                        <img alt="" src="/lib/images/static/chukaeva-5.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}