/**
 * Template article card
 **/

.template-article__item-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-white;
}

.template-article__item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
}

.template-article__caption {
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.template-article__label {
    flex-grow: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $color-gray-dark;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: $color-gray-dark;
}

.template-article__direction {
    flex-grow: 1;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.23;
    text-transform: uppercase;
    color: $color-blue-dark;
    margin-bottom: 1rem;
}

.template-article__direction-category::before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 8px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-image: resolve('images/icons/arrow-right-black.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 5px 8px;
}

.template-article__body {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    padding: 0 1rem 1rem 1rem;
    line-height: 1.5;
}

.template-article__body a {
    color: $color-dark;
}

.template-article__footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: $color-gray-dark;
    border-top: 1px solid $color-gray-light;
    padding: 1rem;
}

.slim .template-article__body {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 1rem 1rem 1rem;
}

.slim .template-article__footer {
    border-top: none;
    padding-top: 0;
}

@media (min-width: 768px) {
    .template-article__caption {
        margin: 1.5rem 1.5rem 0 1.5rem;
    }

    .template-article__label {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .template-article__direction {
        margin-bottom: 1.5rem;
    }

    .template-article__body {
        font-size: 20px;
        padding: 0 1.5rem 1.5rem 1.5rem;
        line-height: 1.2;
    }

    .template-article__footer {
        padding: 1.5rem;
    }

    .slim .template-article__body {
        padding: 0 1.5rem 1rem 1.5rem;
    }
}

@media (min-width: 992px) {
    .template-article__caption {
        margin: 2rem 2rem 0 2rem;
    }

    .template-article__label {
        margin-bottom: 2rem;
    }

    .template-article__direction {
        margin-bottom: 2rem;
    }

    .template-article__direction-category::before {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .template-article__body {
        font-size: 30px;
        padding: 0 2rem 2rem 2rem;
        line-height: 1.13;
    }

    .template-article__footer {
        padding: 2rem;
    }

    .slim .template-article__body {
        font-size: 18px;
        line-height: 1.44;
        padding: 0 2rem 1.5rem 2rem;
    }
}