{% extends 'frontend/base.html.twig' %}

{% block body %}
    <nav class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('index') }}">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('profile_dashboard') }}">Личный кабинет</a>
                </li>
                <li class="breadcrumb-item">
                    Ваши конференции
                </li>
            </ol>
        </div>
    </nav>

    <section class="page-profile mt-4 mb-4 mt-md-5 mb-md-5">
        <div class="container">
            {% set vars = {
                'title': 'Ваши конференции',
                'showPeriod': true,
                'showLimit': true,
            } %}
            {% include 'frontend/partials/advanced-header.html.twig' with vars %}

            <div class="row">
                {% if list|length %}
                    {% for item in list %}
                        {% set vars = {
                            'id': item.id,
                            'url': path('conference', {'id': item.id}),
                            'title': item.name,
                            'startDate': item.startDate,
                            'startTime': item.startTime,
                            'direction': item.directionName,
                            'address': item.address,
                            'isSubscribed': item.isSubscribed,
                            'score': item.score,
                            'bodyClass': 'tiny',
                        } %}
                        <div class="col-12 col-md-6 mb-4">
                            {% include 'frontend/partials/card/conference.html.twig' with vars %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <div class="page-empty-list-profile">
                            <div class="page-empty-list-profile__text">
                                <div>
                                    Зарегистрируйтесь на интересующие Вас мероприятия и они станут доступными в личном кабинете. Будем всегда рады видеть Вас на наших мероприятиях!
                                </div>

                                <a class="btn text-center" href="{{ path('conferences') }}">Перейти к мероприятиям</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% set vars = {
        'nbPages': pages,
        'currentPage': page,
        'url': 'profile_conferences',
        'query': { period: period, limit: limit },
    } %}
    {% include 'frontend/partials/pagination.html.twig' with vars %}
{% endblock %}

{% block modals %}
    {{ parent() }}

    {% include 'frontend/partials/modals/conference-register-success.html.twig' %}
{% endblock %}