{% extends 'frontend/base.html.twig' %}

{% block body %}
    <nav class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('index') }}">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('profile_dashboard') }}">Личный кабинет</a>
                </li>
                <li class="breadcrumb-item">
                    Ваши доступные модули
                </li>
            </ol>
        </div>
    </nav>

    <section class="page-profile mt-4 mb-4 mt-md-5 mb-md-5">
        <div class="container">
            {% set vars = {
                'title': 'Ваши доступные модули',
                'showLimit': true,
            } %}
            {% include 'frontend/partials/advanced-header.html.twig' with vars %}

            <div class="row">
                {% if list|length %}
                    {% for item in list %}
                        {% set vars = {
                            'id': item.id,
                            'number': item.number,
                            'url': path('module', {'id': item.id}),
                            'title': item.name,
                            'direction': item.directionName,
                            'category': item.category,
                            'correctAnswers': item.correctAnswers,
                            'hasTest': item.hasTest,
                            'isTested': item.isTested,
                            'isPassed': item.isPassed,
                            'class': 'slim',
                        } %}
                        <div class="col-12 col-md-6 mb-4">
                            {% include 'frontend/partials/card/module.html.twig' with vars %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <div class="page-empty-list-profile">
                            <div class="page-empty-list-profile__text">
                                <div>
                                    В данный момент у Вас нет доступных для изучения модулей. В ближайшее время мы подготовим и опубликуем новые материалы для Вашего обучения
                                </div>

                                <a class="btn text-center" href="{{ path('modules') }}">Перейти к модулям</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% set vars = {
        'nbPages': pages,
        'currentPage': page,
        'url': 'profile_modules',
        'query': { limit: limit },
    } %}
    {% include 'frontend/partials/pagination.html.twig' with vars %}
{% endblock %}