<div class="sirano-welcome {% if app.request.cookies.get('welcome') == 'accepted' %}d-none{% endif %}">
    <div class="container">
        <div class="sirano-welcome__wrapper">
            <div class="sirano-welcome__abbreviation">
                <div class="d-table sirano-welcome__table text-left">
                    <div class="d-table-row">
                        <div class="d-table-cell sirano-welcome__cell-left">С</div>
                        <div class="d-table-cell sirano-welcome__cell-right">овременные</div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell sirano-welcome__cell-left">И</div>
                        <div class="d-table-cell sirano-welcome__cell-right">нформативные</div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell sirano-welcome__cell-left">Р</div>
                        <div class="d-table-cell sirano-welcome__cell-right">ациональные</div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell sirano-welcome__cell-left">А</div>
                        <div class="d-table-cell sirano-welcome__cell-right">ктуальные</div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell sirano-welcome__cell-left">Н</div>
                        <div class="d-table-cell sirano-welcome__cell-right">овости</div>
                    </div>
                    <div class="d-table-row">
                        <div class="d-table-cell sirano-welcome__cell-left">О</div>
                        <div class="d-table-cell sirano-welcome__cell-right">бщей терапии</div>
                    </div>
                </div>
            </div>
            <div class="sirano-welcome__image">
                <img alt="" src="/lib/images/sirano/welcome.png" />
            </div>
            <div class="sirano-welcome__text">
                <a href="#" class="sirano-welcome__accept">Добро пожаловать!</a>
            </div>
        </div>
    </div>
</div>