/**
 * Webinar archive page
 **/

.page-webinar-archive {
    width: 100%;
    margin-bottom: 2rem;
}

.page-webinar-archive__header {
    position: relative;
    width: 100%;
    padding: 1rem;
    margin-top: -55px;
    z-index: 3;
    background-color: $color-white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
}

.page-webinar-archive__header-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.page-webinar-archive__header-label {
    flex-grow: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $color-gray-dark;
    margin-right: 1rem;
    color: $color-gray-dark;
}

.page-webinar-archive__header-direction {
    flex-grow: 1;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.23;
    text-transform: uppercase;
    color: $color-blue-dark;
}

.page-webinar-archive__header-title {
    width: 100%;
}

.page-webinar-archive__header-title h1 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 1rem;
}

.page-webinar-archive__subject {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 1rem;
}

.page-webinar-archive__body {
    position: relative;
    background-color: $color-grayish-yellow-alt;
    padding: 1rem;
    font-size: 14px;
    line-height: 1.71;
}

.page-webinar-archive__body h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.page-webinar-archive__body img {
    max-width: 100%;
    height: auto;
}

.page-webinar-archive__body iframe,
.page-webinar-archive__body video {
    max-width: 100%;
}

.page-webinar-archive__body-player {
    margin-bottom: 1.5rem;
}

.page-webinar-archive__meta {
    color: $color-gray-dark;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 600;
}

.page-webinar-archive__meta span {
    margin-right: 1rem;
}

.page-webinar-archive__meta span:last-child {
    margin-right: 0;
}

.page-webinar-archive__meta img {
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .page-webinar-archive__header {
        padding: 1.5rem;
    }

    .page-webinar-archive__body {
        padding: 1.5rem;
    }

    .page-webinar-archive__body h2 {
        margin-bottom: 1.5rem;
    }

    .page-webinar-archive__meta span {
        margin-right: 1.5rem;
    }

    .page-webinar-archive__meta img {
        margin-right: 1rem;
    }
}

@media (min-width: 992px) {
    .page-webinar-archive__header {
        padding: 2rem;
    }

    .page-webinar-archive__header-caption {
        margin-bottom: 1.5rem;
    }

    .page-webinar-archive__header-title h1 {
        font-size: 36px;
        line-height: 1.33;
        letter-spacing: 0.4px;
        margin-bottom: 1.5rem;
    }

    .page-webinar-archive__subject {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 1.5rem;
    }

    .page-webinar-archive__body {
        padding: 2rem;
    }

    .page-webinar-archive__body h2 {
        font-size: 18px;
        line-height: 1.44;
        margin-bottom: 2rem;
    }

    .page-webinar-archive__body-player {
        margin-bottom: 2rem;
    }

    .page-webinar-archive__meta {
        font-size: 16px;
        line-height: 1.5;
    }
}